@font-face {
    font-family: 'Outfit Bold';
    src: url('../fonts/Outfit-Bold.woff2') format('woff2'),
        url('../fonts/Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit SemiBold';
    src: url('../fonts/Outfit-SemiBold.woff2') format('woff2'),
        url('../fonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit Medium';
    src: url('../fonts/Outfit-Medium.woff2') format('woff2'),
        url('../fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit Regular';
    src: url('../fonts/Outfit-Regular.woff2') format('woff2'),
        url('../fonts/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit Light';
    src: url('../fonts/Outfit-Light.woff2') format('woff2'),
        url('../fonts/Outfit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Outfit Light';
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
    background: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a,
a:hover {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

h1 {
    font-size: 30px;
    font-family: 'Outfit Medium';
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

p {
    font-size: 20px;
    line-height: 1.3;
}

.bold_font {
    font-family: 'Outfit Bold';
}

.regular_font {
    font-family: 'Outfit Regular';
}

.medium_font {
    font-family: 'Outfit Medium';
}

.light_font {
    font-family: 'Outfit Light';
}

.col-p {
    padding: 0;
}

.tb-padding {
    padding: 200px 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* custom scrollbar css */
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

::selection {
    background: #888;
    color: #fff;
}